body{
    margin: 0;
}

div{
    margin: 50px;
    padding: 0;
}

div li{
    display: inline;
    padding: 8px 10px;
    border: 1px solid #cfcfdd;
    color: #0788cf;
    margin: 0;
    list-style-type: none; 
    float: left;   
}

div li:hover{
    background-color: #cfcfcf;  
}

div li:first-child{
    border-radius: 5px 0 0 5px;  
}

div li:last-child{
    border-radius: 0 5px 5px 0;  
}